<?xml version="1.0"?>
<config>
    <modules>
        <Codepeak_Core>
            <version>1.0.0</version>
        </Codepeak_Core>
    </modules>
    <global>
        <helpers>
            <codepeak_core>
                <class>Codepeak_Core_Helper</class>
            </codepeak_core>
        </helpers>
    </global>
</config> 